.concept {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: 704px) {
  }

  @media screen and (min-width: 1312px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: 335px;

    @media screen and (min-width: 704px) {
      flex-direction: row;
      max-width: 100%;
      align-items: start;
    }

    @media screen and (min-width: 1312px) {
      max-width: 100%;
    }
  }

  &__box2 {
    display: flex;
    max-width: 310px;

    @media screen and (min-width: 704px) {
      max-width: 100%;
    }

    @media screen and (min-width: 1312px) {
      gap: 40px;
    }
  }

  &__tittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;

    @media screen and (min-width: 704px) {
      margin-right: 32px;
    }

    @media screen and (min-width: 1312px) {
      font-size: 48px;
    }
  }

  &__list1 {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    // gap: 45px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
    }
  }

  &__numbers {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: var(--color-scheme-1-text);
    
    margin-top: 302px;
    // padding-bottom: 16px;
    // padding-top: 16px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      width: 260px;
      height: 0;
      border: solid 1px #000;
      transform: rotate(-90deg);
      position: absolute;
      top: 150px;
      left: -118px;
      margin-bottom: 150px;

      @media screen and (min-width: 704px) {
        width: 160px;
        top: 104px;
        left: -68px;
      }

      @media screen and (min-width: 1312px) {
        width: 100px;
        top: 126px;
        left: -35px;
      }
    }

    @media screen and (min-width: 704px) {
      margin-top: 206px;
    }

    @media screen and (min-width: 1312px) {
      font-size: 48px;
      margin-bottom: 100px;
      margin-top: 32px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
    }
  }

  // &__line {
  //   border-bottom: 2px solid #000;
  //   width: 222px;
  //   height: 0px;
  //   background: var(--color-scheme-1-border);
  //   transform: rotate(-90deg);
  //   margin-bottom: 16px;

  //   @media screen and (min-width: 704px) {
  //   width: 120px;
  //   }

  //   @media screen and (min-width: 1312px) {
  //     width: 100px;
  //   }

  //   // &:last-child {
  //   //     border: none;
  //   //  }
  // }

  &__list2 {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      gap: 50px;
    }
  }

  &__item2 {
  }

  &__subtittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-scheme-1-text);
    margin-bottom: 16px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      font-size: 20px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
    }
  }
}

// .concept__numbers:last-child::after {
//   content: none;
// }

.concept-first {
  margin-top: 0;
}

.concept-last::after {
  // content: "";
  

  @media screen and (min-width: 704px) {
  }

  @media screen and (min-width: 1312px) {
    content: none;
    
  }
}

.concept-first::after {
  
  content: none;
  

  @media screen and (min-width: 704px) {
  }

  @media screen and (min-width: 1312px) {
    content: "";
  }
}

.concept-first {
  padding-top: 0;
}


.concept-2::after {
  @media screen and (min-width: 704px) {
  }

  @media screen and (min-width: 1312px) {
    content: "";
    display: block;
    top: 155px;
    left: -35;
  }
}

.concept-3::after {
  @media screen and (min-width: 704px) {
  }

  @media screen and (min-width: 1312px) {
    content: "";
    display: block;
    top: 156px;
    left: -35;
  }
}

