.concept {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: 704px) {
    
  }

  @media screen and (min-width: 1312px) {
    padding-top: 112px;
  padding-bottom: 112px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 704px) {
    flex-direction: row;
    }
  
    @media screen and (min-width: 1312px) {
      
    }
  }

  &__box2 {
    display: flex;
    

    @media screen and (min-width: 704px) {
      }
    
      @media screen and (min-width: 1312px) {
        gap: 40px;
      }
  }

  &__tittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;

    @media screen and (min-width: 704px) {
      margin-right: 32px;
    }
  
    @media screen and (min-width: 1312px) {
      font-size: 48px;
    }
  }

  &__list1 {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    // gap: 45px;

    @media screen and (min-width: 704px) {
    
    }
  
    @media screen and (min-width: 1312px) {
      
    }
  }

  &__numbers {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: var(--color-scheme-1-text);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    // padding-bottom: 16px;
    // padding-top: 16px;
   
    


    &::after {
      content: "";
      display: block;
      width: 100%;
      width: 100px;
      height: 0;
      border: solid 1px #000;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 32px;
      left: -35px;

      
       
    }

    

   @media screen and (min-width: 704px) {
    
  }

  @media screen and (min-width: 1312px) {
    font-size: 48px;
    margin-bottom: 100px;
  }

  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @media screen and (min-width: 704px) {
    
    }
  
    @media screen and (min-width: 1312px) {
      position: relative;
    }
  }

  &__line {
    border-bottom: 2px solid #000;
    width: 222px;
    height: 0px;
    background: var(--color-scheme-1-border);
    transform: rotate(-90deg);
    margin-bottom: 16px;

    @media screen and (min-width: 704px) {
    width: 120px;
    }
  
    @media screen and (min-width: 1312px) {
      width: 100px;
    }

    // &:last-child {
    //     border: none;
    //  }
  }

  &__list2 {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;

    @media screen and (min-width: 704px) {
    
    }
  
    @media screen and (min-width: 1312px) {
      
    }
  }

  &__item2 {
  }

  &__subtittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-scheme-1-text);
    margin-bottom: 16px;

    @media screen and (min-width: 704px) {
    
    }
  
    @media screen and (min-width: 1312px) {
      font-size: 20px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);

    @media screen and (min-width: 704px) {
    
    }
  
    @media screen and (min-width: 1312px) {
      
    }
  }
}

// .concept__numbers:last-child::after {
//   content: none;
// }

.concept-first {
  margin-top: 0;
}


.concept-last::after {
  content: none;
}