.crafted {
  padding-top: 64px;
  padding-bottom: 64px;
  @media screen and (min-width: 736px) {
    
  }
  @media screen and (min-width: 1344px) {
    padding-top: 112px;
  padding-top: 112px;
  }
}
.box-crafted {
}
.crafted-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 736px) {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1344px) {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
  }
}
.crafted-so-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}
.crafted-box-title {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-scheme-1-text);
}
.crafted-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}
.crafted-photo {
  margin-top: 40px;
  @media screen and (min-width: 736px) {
    margin-top: 40px;
    width: 704px;
    height: 750px;
  }
  @media screen and (min-width: 1344px) {
    margin-top: 0;
    width: 616px;
    height: 657px;
  }
}
.crafted-container {
  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
    display: flex;
  }
}
.crafted-cont {
  // flex-direction: column;
  margin-top: 65px;
  gap: 30px;
  @media screen and (min-width: 736px) {
    display: flex;
  }
  @media screen and (min-width: 1344px) {
  }
}
.crafted-wrapper {
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: 736px) {
    
  }
  @media screen and (min-width: 1344px) {
    margin-right: 40px;
  }
}
.crafted-box2 {
// margin-top: 32px; 1
}
.crafted-box3 {
margin-top: 32px;
  @media screen and (min-width: 736px) {
 margin-top: 0;
  }
  @media screen and (min-width: 1344px) {
  }
}