.footer-container {
  display: flex;
  // align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
  }
}
.footer-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 736px) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1344px) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }
}
.footer-svg {
  font-weight: 500;
  font-size: 31px;
  line-height: 140%;
  color: var(--color-scheme-1-text);
  font-family: "Roboto", sans-serif;
}
.footer-list {
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
  display: flex;
  @media screen and (min-width: 736px) {
    flex-direction: row;
    display: flex;
    gap: 31px;
  }
  @media screen and (min-width: 1344px) {
    display: flex;
    // align-items: center;
    margin-left: 300px;
    gap: 31px;
    margin-top: 0;
  }
}
.footer-logo-svg {
  width: 49px;
  height: 49px;
  text-align: center;


  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
      width: 26px;
  height: 26px;
  }
}
.footer-logo {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 37px;
  line-height: 140%;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 736px) {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 37px;
    line-height: 140%;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1344px) {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: black;
  }
}
.footer-line {
  border: 1px solid black;
  max-width: 1344px;
  width: 100%;
  // width: 100%;
  // padding-right: 100px;
  height: 0px;
  // align-items: center;
}
.footer-box {
  text-align: center;
  flex-direction: column;
  display: flex;

  @media screen and (min-width: 736px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1344px) {
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: start;
    flex-direction: row;
  }
}
.footer-bot-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-1-text);

  @media screen and (min-width: 736px) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1344px) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: black;
  }
}
.footer-box2 {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.footer-nav {
  @media screen and (min-width: 736px) {
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1344px) {
    display: flex;
  }
}
.footer-contact-svg {
  width: 24px;
  height: 24px;

}
.footer-use {
  width: 10px;
  height: 10px;
}
.footer-svg-list {
  display: flex;
  // margin-left: 160px;

    gap: 24px;
    align-items: center;
    justify-content: center;
//   flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
  @media screen and (min-width: 736px) {
    margin-left: 300px;
    margin-top: 32px;
    margin-bottom: 80px;
      gap: 12px;
      align-items: start;
      justify-content: start;
    }
  @media screen and (min-width: 1344px) {
    margin-left: 160px;
    margin-bottom: 30px;
  }
}
.footer-bx1 {
    display: flex;
    // align-content: center;
    align-items: center;
    justify-content: center;
    
  @media screen and (min-width: 1344px) {
    display: flex;
  }
}
