.header-container {
display: flex;
align-items: center;
  @media screen and (min-width: 704px) {

  }
  @media screen and (min-width: 1312px) {
  padding-top: 5px;
  padding-bottom: 5px;
  } 

}
.header-link {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 150%;
    display: none;
color: var(--color-scheme-1-text);
  @media screen and (min-width: 704px) {

  }
  @media screen and (min-width: 1312px) {
display: flex;
  } 
}
.header-button {
display: none;
  @media screen and (min-width: 704px) {
display: flex;
    border: 1px solid var(--color-neutral-darkest);
padding: 8px 20px;
width: 175px;
height: 40px;
font-family: "Roboto", sans-serif;
color: white;
background-color: black;


  }
  @media screen and (min-width: 1312px) {

  } 
}
.header-logo {
font-weight: 500;
font-size: 31px;
line-height: 140%;
color: var(--color-scheme-1-text);
font-family: "Roboto", sans-serif;
}
.header-list {
display: flex;
align-items: center;
margin-left: 50px;
  @media screen and (min-width: 704px) {
margin-left: 264px;
gap: 16px;

  }
  @media screen and (min-width: 1312px) {
margin-left: 300px;
gap: 31px;
  } 
}
.header-svg {
width: 36px;
height: 34px;
}
.header-mobile-button {
margin-left: auto;
border: 1px solid black;
padding: 8px;
width: 40px;
height: 40px;
  @media screen and (min-width: 704px) {
  border: 1px solid black;
padding: 8px;
width: 40px;
height: 40px;

  }
  @media screen and (min-width: 1312px) {
    display: none;
  } 
}
.header-button-svg {
width: 19px;
height: 19px;
fill: #000;
  @media screen and (min-width: 704px) {


  }
  @media screen and (min-width: 1312px) {
    display: none;
  } 
}