.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 736px) {
    margin-left: auto;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1344px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  display: none;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
    display: flex;
  }
}
.header-button {
  display: none;
  @media screen and (min-width: 736px) {
    display: flex;
    border: 1px solid var(--color-neutral-darkest);
    padding: 8px 20px;
    width: 180px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
    animation-delay: 2s;
  }
  @media screen and (min-width: 1344px) {
  }
}
.header-button:hover {
  color: #000;
  background-color: white;
  border: 1px solid black;
  transition-duration: 850ms;
}
.header-logo {
  font-weight: 500;
  font-size: 31px;
  line-height: 140%;
  color: var(--color-scheme-1-text);
  font-family: "Roboto", sans-serif;
  margin-right: auto;
}
.header-list {
  display: flex;
  align-items: center;
//   margin-left: 50px;
  @media screen and (min-width: 736px) {
    // margin-left: 264px;
        justify-content: flex-end;
    gap: 16px;
  }
  @media screen and (min-width: 1344px) {
    // margin-left: 300px;
    gap: 31px;

  }
}
.header-svg {
  width: 42.51px;
  height: 42.51px;
}
.header-mobile-button {
  margin-left: 16px;
  border: 1px solid black;
  padding: 8px;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 736px) {
    border: 1px solid black;
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1344px) {
    display: none;
  }
}
.header-button-svg {
  width: 19px;
  height: 19px;
  fill: #000;
  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
    display: none;
  }
}

.menu-overlay {
  position: relative;
  // inset: 0;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  display: block;
  // justify-content: center;
  // align-items: start;
  // position: fixed;
  background-color: white;
  @media screen and (min-width: 736px) {
    padding-top: 11px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 52px;
  }

  @media screen and (min-width: 1344px) {
    opacity: 0;
    background-color: none;
  }
}

menu {
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
    display: none;
  }
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 100%;
  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-svg {
  width: 43px;
  height: 43px;
  margin-right: 3px;
  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-tittle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 31px;
  line-height: 140%;
  color: var(--color-scheme-1-text);
  margin-right: auto;

  @media screen and (min-width: 736px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  border: 1px solid #000;
  background-color: #000;
  padding: 8px 20px;
  width: 177px;
  height: 40px;
  display: flex;
  margin-right: 16px;
  display: none;
  @media screen and (min-width: 736px) {
    display: block;
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-button:hover {
  color: #000;
  background-color: white;
  transition-duration: 850ms;
}

.svg-box {
  width: 40px;
  height: 40px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
  }
}

.svg-close {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 38px;

  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-item {
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;

  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-mobile-button {
  border: 1px solid #000;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;

  @media screen and (min-width: 736px) {
    display: none;
  }

  @media screen and (min-width: 1344px) {
  }
}

.menu-mobile-button:hover {
  color: #000;
  background-color: white;
  transition-duration: 850ms;
}



.header-link:hover {
  border-bottom:solid 2px #000;
  transition-duration: 200ms;
  // padding-bottom: 15px;
  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
    
  }
}