.hero {
padding-top: 60px;
  @media screen and (min-width: 736px) {
  }
  @media screen and (min-width: 1344px) {
  }
}
.hero-container {

}
.hero-ctn {
  text-align: center;
  @media screen and (min-width: 736px) {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  @media screen and (min-width: 1344px) {
  }
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 736px) {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1344px) {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
  }
}
.hero-text {
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 736px) {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1344px) {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }
}
.hero-button {
  border: 1px solid var(--color-neutral-darkest);
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  margin-top: 32px;
  padding: 12px 24px;
  width: 100%;
  max-width: 335px;
  height: 48px;
  @media screen and (min-width: 736px) {
    border: 1px solid black;
    padding: 12px 24px;
    width: 148px;
    height: 48px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
    margin-top: 32px;
  }
  @media screen and (min-width: 1344px) {
    border: 1px solid black;
    padding: 12px 24px;
    width: 148px;
    height: 48px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
    margin-top: 35px;
  }
}
.hero-button:hover {
  color: #000;
  background-color: white;
  border: 1px solid black;
  transition-duration: 850ms;
}
.hero-photo {
  margin-top: 40px;
  width: 100%;

  //   margin-left: 130px;

  @media screen and (min-width: 736px) {
    width: 736px;
    height: 396px;
  }
  @media screen and (min-width: 1344px) {
    width: 1344px;
    height: 738px;
  }
}
.hero-box {
  @media screen and (min-width: 736px) {
    margin-right: 80px;
  }
  @media screen and (min-width: 1344px) {
    margin-right: 135px;
  }
}



.header-item:hover::after {
  //  width: 100%;
   border-bottom: 2px solid #000;
   transition-duration: 500ms;

}