.materials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.materials-section-title {
    margin-bottom: 40px;
    color: #000000;
    font-weight: 700;
    font-size: 48px;
}

.materials-section-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
}

.materials-section-list-item {
    width: 252.8px;
    position: relative;
}

.materials-list-item-img {

}

.materials-item-text-box {
    position: absolute;
    width: 252px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px;
    bottom: 0;
    left: 0;
}

.materials-list-item-title {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.materials-list-item-description {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    width: 228.8px;
}