.no-scroll {
  position: fixed;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     opacity: 1;
     
     padding-top: 11px;
     padding-right: 26px;
     padding-left: 26px;
     padding-bottom: 52px;
     display: block;
     
     

     @media screen and (min-width: 704px) {
    }
  
    @media screen and (min-width: 1312px) {
        opacity: 0;
    }
}

menu {
  background-color: white;
     
}

.is-hidden {
  // display: none;
  opacity: 0;
  pointer-events: none;
}

.menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 704px) {
    }
  
    @media screen and (min-width: 1312px) {
    }
}

.menu-svg {
  width: 43px;
  height: 43px;
  margin-right: 3px;
  @media screen and (min-width: 704px) {
}

@media screen and (min-width: 1312px) {
}
}

.menu-tittle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 31px;
  line-height: 140%;
  color: var(--color-scheme-1-text);
  margin-right: 346.62px;
  @media screen and (min-width: 704px) {
}

@media screen and (min-width: 1312px) {
}
}

.menu-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
  border: 1px solid #000;
  background-color: #000;
  padding: 8px 20px;
  width: 177px;
  height: 40px;
  display: flex;
  margin-right: 16px;
  @media screen and (min-width: 704px) {
}

@media screen and (min-width: 1312px) {
}
}

.svg-box {
  width: 40px;
  height: 40px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  @media screen and (min-width: 704px) {
}

@media screen and (min-width: 1312px) {
}
}

.svg-close {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 704px) {
}

@media screen and (min-width: 1312px) {
}
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 38px;

    @media screen and (min-width: 704px) {
    }
  
    @media screen and (min-width: 1312px) {
    }
}

.menu-item {
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;

  @media screen and (min-width: 704px) {
}

@media screen and (min-width: 1312px) {
}
}

.menu-mobile-button {
}
