.section-ones {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    
    @media screen and (min-width: 1344px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.section-ones-container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media screen and (min-width: 1344px) {
        flex-direction: row;
  }
}

.section-ones-title-box {
    display: flex;
    flex-direction: column;
    width: 335px;
    gap: 24px;
    flex-shrink: 0;

    @media screen and (min-width: 736px) {
    width: 380px;
  }
}

.section-ones-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;

    @media screen and (min-width: 1344px) {
    font-size: 48px;
  }
}

.section-ones-minititle {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;

    @media screen and (min-width: 1344px) {
    font-size: 18px;
  }
}

.section-ones-list {
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 64px;
    column-gap: 48px;
    flex-direction: row;
}

.section-ones-list-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 402px;
    outline: red 1px solid;
}

.ones-list-item-svg {
    fill: #000000;
    width: 48px;
    height: 48px;
}

.ones-list-item-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    
    @media screen and (min-width: 1344px) {
    font-size: 32px;
  }
}

.ones-list-item-description {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}