.section-ones {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 112px;
    padding-bottom: 112px;
}

.section-ones-title-box {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 24px;
}

.section-ones-title {
    font-weight: 700;
    font-size: 48px;
}

.section-ones-minititle {
    font-weight: 400;
    font-size: 18px;
}

.section-ones-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    width: 852px;
    height: 484px;
}

.section-ones-list-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 360px;
}

.ones-list-item-svg {
    fill: #000000;
    width: 48px;
    height: 48px;
}

.ones-list-item-title {
    font-weight: 700;
    font-size: 32px;
}

.ones-list-item-description {
    font-weight: 400;
    font-size: 16px;
}