.stories {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: 736px) {
  }

  @media screen and (min-width: 1344px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  &__tittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 40px;

    @media screen and (min-width: 736px) {
    }

    @media screen and (min-width: 1344px) {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 736px) {
    }

    @media screen and (min-width: 1344px) {
    }
  }

  &__item {
    border: 1px solid #000;
    padding: 32px;
    width: 335px;
    height: 280px;
    

    @media screen and (min-width: 736px) {
      width: 336px;
      height: 280px;
    }

    @media screen and (min-width: 1344px) {
      width: 640px;
      height: 220px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;

    @media screen and (min-width: 736px) {
    }

    @media screen and (min-width: 1344px) {
      font-size: 18px;
    }
  }

  &__subtittle {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);

    @media screen and (min-width: 736px) {
    }

    @media screen and (min-width: 1344px) {
    }
  }
}


.animate__fadeInLeft {
  animation-duration: 800ms;
}

.animate__fadeInRight {
  animation-duration: 800ms;
}