.vision {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: 704px) {
  }

  @media screen and (min-width: 1312px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      flex-direction: row;
      gap: 80px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
    }
  }

  &__tittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-scheme-1-text);

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      font-size: 48px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);

    margin-top: 24px;
    margin-bottom: 32px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      font-size: 18px;
      max-width: 616px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
    }
  }

  &__label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
    }
  }

  &__input {
    border: 1px solid #000;
    padding: 12px;
    width: 100%;
    height: 48px;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      width: 616px;
    }
&:hover {
  border: 1px solid #aaa;
}
    
  }

  &__input2 {
    border: 1px solid #000;
    padding: 12px;
    width: 100%;
    height: 180px;
    display: flex;

    @media screen and (min-width: 704px) {
    }

    @media screen and (min-width: 1312px) {
      width: 616px;
    }

    &:hover {
      border: 1px solid #aaa;
    }
  }

  &__button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    border: 1px solid #000;
    padding: 12px 24px;
    width: 100%;
    height: 48px;
    background-color: #000;

    @media screen and (min-width: 704px) {
      width: 209px;
    }

    @media screen and (min-width: 1312px) {
    }

&:hover {
  color: #000;
  background-color: white;
}
    
  }

  &__img {
    width: 100%;
    height: auto;

    @media screen and (min-width: 704px) {
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 1312px) {
      width: 616px;
      height: 734px;
    }
  }
}
