.vision {
  padding-top: 112px;
  padding-bottom: 112px;

  &__container {
    display: flex;
    gap: 80px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  &__tittle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    max-width: 616px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    border: 1px solid #000;
    padding: 12px;
    width: 616px;
    height: 48px;
  }

  &__input2 {
    border: 1px solid #000;
    padding: 12px;
    width: 616px;
    height: 180px;
    display: flex;
  }

  &__button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    border: 1px solid #000;
    padding: 12px 24px;
    width: 209px;
    height: 48px;
    background-color: #000;
  }

  &__img {
    width: 616px;
    height: 734px;
  }
}
