.container {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  // padding-left: 16px;
  // padding-right: 16px;
  padding-left: 3px;
  padding-right: 3px;
  outline: solid red;

  @media screen and (min-width: 704px) {
    width: 704px;
    padding-left: 0;
  padding-right: 0;
  }

  @media screen and (min-width: 1312px) {
    width: 1312px;
  }
}