.container {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  
  // outline: solid red;

  @media screen and (max-width: 703px) {
    // width: 336px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media screen and (min-width: 736px) {
    width: 736px;
    padding-left: 16px;
  padding-right: 16px;
  }

  @media screen and (min-width: 1344px) {
    width: 1344px;
    padding-left: 16px;
  padding-right: 16px;
  }
}