.container {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
  // outline: solid red;

  @media screen and (max-width: 703px) {
    width: 335px;
    padding-left: 0;
  padding-right: 0;
  }

  @media screen and (min-width: 704px) {
    width: 704px;
    
  }

  @media screen and (min-width: 1280px) {
    width: 1286px;
  }
}