.container {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  // padding-left: 16px;
  // padding-right: 16px;
  outline: solid red;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1312px) {
    width: 1312px;
  }
}
