.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    // outline: solid red;


@media screen and (min-width: 768px) {
    width: 738px;
    padding-left: 0;
    padding-right: 0;
    
}



@media screen and (min-width: 1200px) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
}

}