.container {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  // padding-left: 16px;
  // padding-right: 16px;
  outline: solid red;

  @media screen and (max-width: 703px) {
    width: 335px;
  }

  @media screen and (min-width: 704px) {
    width: 704px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
