<section class="crafted" id="crafted">
  <div class="container crafted-container">
    <div class="crafted-wrapper">
    <div class="box-crafted">
      <h2 class="crafted-title">Crafted with Intention, Not for the Masses.</h2>
      <p class="crafted-so-text">
        In an industry built on speed and disposability, we choose to focus on
        what truly matters. We're not just making clothes; we're building
        lasting pieces that represent a higher standard of quality and a deeper
        connection to personal style. Every garment is a statement against the
        ordinary.
      </p>
    </div>
    <div class="crafted-cont">
      <div class="crafted-box2">
        <h3 class="crafted-box-title">Uncompromising Quality</h3>
        <p class="crafted-text">
          We source only premium, durable materials and use meticulous
          construction techniques. Every stitch, seam, and detail is executed
          with precision, ensuring your piece not only looks incredible but is
          built to withstand the test of time and city life.
        </p>
      </div>
      <div class="crafted-box3">
        <h3 class="crafted-box-title">Radical Collaboration</h3>
        <p class="crafted-text">
          Your vision is the starting point for everything we do. We believe the
          best ideas come from a true creative partnership. You're not just a
          customer; you are our collaborator from the initial concept to the
          final, one-of-a-kind product.
        </p>
      </div>
    </div>
    </div>
    
<picture class="crafted-photo" >
      <source
        srcset="
          ./imgs/desktop/crafted-img@desktop-x1.webp 1x,
          ./imgs/desktop/crafted-img@desktop-x2.webp 2x
        "
        media="(min-width: 1312px)"
      />
      <source
        srcset="
          ./imgs/tablet/crafted-img@tablet-x1.webp 1x,
          ./imgs/tablet/crafted-img@tablet-x2.webp 2x
        "
        media="(min-width: 704px)"
      />
      <source
        srcset="
          ./imgs/mobile/crafted-img@mobile-x1.webp 1x,
          ./imgs/mobile/crafted-img@mobile-x2.webp 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="crafted-photo"
        src="./imgs/desktop/crafted-img@desktop-x1.webp"
        alt=""
      />
    </picture>
  </div>

</section>
