<head>
  <link rel="stylesheet" href="../scss/base/_reset.scss">
  <link rel="stylesheet" href="../scss/base/_common.scss">
  <link rel="stylesheet" href="../scss/components/_creations.scss">
</head>

<body>


<section class="creations-section container">
  <h3 class="creations-section-title">Our Latest Creations</h3>
  <p class="creations-section-minititle">
    Every piece you see here is a one-of-a-kind creation, born from a unique
    idea and built for a specific individual. We never make the same thing
    twice. This gallery is a testament to that promise and a showcase of what’s
    possible when you break free from the ordinary.
  </p>
  <ul class="creations-section-list">
    <li class="creations-section-list-item">
      <picture class="creations-list-item-img">
        <source
          srcset="
            ../img/desktop/creations-img1@desktop-x1.webp 1x,
            ../img/desktop/creations-img1@desktop-x2.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
        ../img/tablet/creations-img1@tablet-x1.webp 1x,
        ../img/tablet/creations-img1@tablet-x2.webp 2x
        "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/mobile/creations-img1@mobile-x1.webp 1x,
            ../img/mobile/creations-img1@mobile-x2.webp 2x
            "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../img/desktop/creations-img1@destop-x1.webp"
          alt=""
        />
      </picture>
    </li>
    <li class="creations-section-list-item">
      <picture class="creations-list-item-img">
        <source
          srcset="
            ../img/desktop/creations-img2@desktop-x1.webp 1x,
            ../img/desktop/creations-img2@desktop-x2.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
        ../img/tablet/creations-img2@tablet-x1.webp 1x,
        ../img/tablet/creations-img2@tablet-x2.webp 2x
        "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/mobile/creations-img2@mobile-x1.webp 1x,
            ../img/mobile/creations-img2@mobile-x2.webp 2x
            "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../img/desktop/creations-img2@destop-x1.webp"
          alt=""
        />
      </picture>
    </li>
    <li class="creations-section-list-item">
      <picture class="creations-list-item-img">
        <source
          srcset="
            ../img/desktop/creations-img3@desktop-x1.webp 1x,
            ../img/desktop/creations-img3@desktop-x2.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
        ../img/tablet/creations-img3@tablet-x1.webp 1x,
        ../img/tablet/creations-img3@tablet-x2.webp 2x
        "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/mobile/creations-img3@mobile-x1.webp 1x,
            ../img/mobile/creations-img3@mobile-x2.webp 2x
            "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../img/desktop/creations-img3@destop-x1.webp"
          alt=""
        />
      </picture>
    </li>
    <li class="creations-section-list-item">
      <picture class="creations-list-item-img">
        <source
          srcset="
            ../img/desktop/creations-img4@desktop-x1.webp 1x,
            ../img/desktop/creations-img4@desktop-x2.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
        ../img/tablet/creations-img4@tablet-x1.webp 1x,
        ../img/tablet/creations-img4@tablet-x2.webp 2x
        "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/mobile/creations-img4@mobile-x1.webp 1x,
            ../img/mobile/creations-img4@mobile-x2.webp 2x
            "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../img/desktop/creations-img4@destop-x1.webp"
          alt=""
        />
      </picture>
    </li>
    <li class="creations-section-list-item">
      <picture class="creations-list-item-img">
        <source
          srcset="
            ../img/desktop/creations-img5@desktop-x1.webp 1x,
            ../img/desktop/creations-img5@desktop-x2.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
        ../img/tablet/creations-img5@tablet-x1.webp 1x,
        ../img/tablet/creations-img5@tablet-x2.webp 2x
        "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/mobile/creations-img5@mobile-x1.webp 1x,
            ../img/mobile/creations-img5@mobile-x2.webp 2x
            "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../img/desktop/creations-img5@destop-x1.webp"
          alt=""
        />
      </picture>
    </li>
    <li class="creations-section-list-item">
      <picture class="creations-list-item-img">
        <source
          srcset="
            ../img/desktop/creations-img6@desktop-x1.webp 1x,
            ../img/desktop/creations-img6@desktop-x2.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
        ../img/tablet/creations-img6@tablet-x1.webp 1x,
        ../img/tablet/creations-img6@tablet-x2.webp 2x
        "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/mobile/creations-img6@mobile-x1.webp 1x,
            ../img/mobile/creations-img6@mobile-x2.webp 2x
            "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../img/desktop/creations-img6@destop-x1.webp"
          alt=""
        />
      </picture>
    </li>
  </ul>
</section>


</body>