<header class="header">
  <div class="container header-container">
    <svg class="header-logo"><use href="#"></use></svg>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="">Manifesto</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">The Process</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Our Works</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Our Principles</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Materials</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Testimonials</a>
        </li>
        <li class="header-item">
          <button class="header-button">Start Your Creation</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
