<section class="hero">
  <div class="container hero-container">
    <div class="hero-ctn">
      <div class="hero-box">
        <h1 class="hero-title">Clothing Designed for One. You.</h1>
      </div>
      <div class="hero-bx1">
        <p class="hero-text">
          Forget the ordinary. We create exceptional, made-to-measure pieces
          designed exclusively for your story. Tell us your idea, and let’s
          craft something timeless, together.
        </p>
        <button class="hero-button animate__pulse">How It Works</button>
      </div>
    </div>
    <img
      class="hero-photo"
      src="./imgs/desktop/hero-img@desktop-x1.webp"
      alt="2-big-boys"
    />
  </div>
</section>
