<section>
  <p>Our Materials</p>
  <ul>
    <li>
      <img src="" alt="" />
      <h5>Raw Selvedge Denim</h5>
      <p>
        Built to last. This iconic fabric doesn't wear out; it wears in, telling
        a unique story over time.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h5>Technical Ripstop</h5>
      <p>
        Your shield against the city. Lightweight, durable, and water-resistant
        for unpredictable urban life.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h5>Heavy-Grain Leather</h5>
      <p>
        Pure durability and character. A rugged material that gains more
        personality with every single wear.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h5>Heavyweight Fleece</h5>
      <p>
        Luxury you can feel. The foundation of comfort with a structured
        exterior and an incredibly soft interior.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h5>Duck Canvas</h5>
      <p>
        Inspired by timeless workwear, this fabric offers a tough, structured
        frame and unmatched reliability.
      </p>
    </li>
  </ul>
</section>
