<section class="materials-section container">
  <h2 class="materials-section-title">Our Materials</h2>
  <ul class="materials-section-list">
    <li class="materials-section-list-item">
      <picture class="materials-list-item-img">
        <source
          srcset="
            ../imgs/desktop/materials-img1@desktop-x1.webp 1x,
            ../imgs/desktop/materials-img1@desktop-x2.webp 2x
          "
          media="(min-width: 1312px)"
        />
        <source
          srcset="
            ../imgs/tablet/materials-img1@tablet-x1.webp 1x,
            ../imgs/tablet/materials-img1@tablet-x2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../imgs/mobile/materials-img1@mobile-x1.webp 1x,
            ../imgs/mobile/materials-img1@mobile-x2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../imgs/desktop/materials-img1@desktop-x1.webp"
          alt=""
        />
      </picture>
      <div class="materials-item-text-box">
        <h5 class="materials-list-item-title">Raw Selvedge Denim</h5>
        <p class="materials-list-item-description">
          Built to last. This iconic fabric doesn't wear out; it wears in,
          telling a unique story over time.
        </p>
      </div>
    </li>
    <li class="materials-section-list-item">
      <picture class="materials-list-item-img">
        <source
          srcset="
            ../imgs/desktop/materials-img2@desktop-x1.webp 1x,
            ../imgs/desktop/materials-img2@desktop-x2.webp 2x
          "
          media="(min-width: 1312px)"
        />
        <source
          srcset="
            ../imgs/tablet/materials-img2@tablet-x1.webp 1x,
            ../imgs/tablet/materials-img2@tablet-x2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../imgs/mobile/materials-img2@mobile-x1.webp 1x,
            ../imgs/mobile/materials-img2@mobile-x2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../imgs/desktop/materials-img2@desktop-x1.webp"
          alt=""
        />
      </picture>
      <div class="materials-item-text-box">
        <h5 class="materials-list-item-title">Technical Ripstop</h5>
        <p class="materials-list-item-description">
          Your shield against the city. Lightweight, durable, and
          water-resistant for unpredictable urban life.
        </p>
      </div>
    </li>
    <li class="materials-section-list-item">
      <picture class="materials-list-item-img">
        <source
          srcset="
            ../imgs/desktop/materials-img3@desktop-x1.webp 1x,
            ../imgs/desktop/materials-img3@desktop-x2.webp 2x
          "
          media="(min-width: 1312px)"
        />
        <source
          srcset="
            ../imgs/tablet/materials-img3@tablet-x1.webp 1x,
            ../imgs/tablet/materials-img3@tablet-x2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../imgs/mobile/materials-img3@mobile-x1.webp 1x,
            ../imgs/mobile/materials-img3@mobile-x2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../imgs/desktop/materials-img3@desktop-x1.webp"
          alt=""
        />
      </picture>
      <div class="materials-item-text-box">
        <h5 class="materials-list-item-title">Heavy-Grain Leather</h5>
        <p class="materials-list-item-description">
          Pure durability and character. A rugged material that gains more
          personality with every single wear.
        </p>
      </div>
    </li>
    <li class="materials-section-list-item">
      <picture class="materials-list-item-img">
        <source
          srcset="
            ../imgs/desktop/materials-img4@desktop-x1.webp 1x,
            ../imgs/desktop/materials-img4@desktop-x2.webp 2x
          "
          media="(min-width: 1312px)"
        />
        <source
          srcset="
            ../imgs/tablet/materials-img4@tablet-x1.webp 1x,
            ../imgs/tablet/materials-img4@tablet-x2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../imgs/mobile/materials-img4@mobile-x1.webp 1x,
            ../imgs/mobile/materials-img4@mobile-x2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../imgs/desktop/materials-img4@desktop-x1.webp"
          alt=""
        />
      </picture>
      <div class="materials-item-text-box">
        <h5 class="materials-list-item-title">Heavyweight Fleece</h5>
        <p class="materials-list-item-description">
          Luxury you can feel. The foundation of comfort with a structured
          exterior and an incredibly soft interior.
        </p>
      </div>
    </li>
    <li class="materials-section-list-item">
      <picture class="materials-list-item-img">
        <source
          srcset="
            ../imgs/desktop/materials-img5@desktop-x1.webp 1x,
            ../imgs/desktop/materials-img5@desktop-x2.webp 2x
          "
          media="(min-width: 1312px)"
        />
        <source
          srcset="
            ../imgs/tablet/materials-img5@tablet-x1.webp 1x,
            ../imgs/tablet/materials-img5@tablet-x2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../imgs/mobile/materials-img5@mobile-x1.webp 1x,
            ../imgs/mobile/materials-img5@mobile-x2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="../imgs/desktop/materials-img5@desktop-x1.webp"
          alt=""
        />
      </picture>
      <div class="materials-item-text-box">
        <h5 class="materials-list-item-title">Duck Canvas</h5>
        <p class="materials-list-item-description">
          Inspired by timeless workwear, this fabric offers a tough, structured
          frame and unmatched reliability.
        </p>
      </div>
    </li>
  </ul>
</section>