<section class="vision">
  <div class="container vision__container">
    <div class="vision__box">
      <h2 class="vision__tittle">Bring Your Vision to Life</h2>
      <p class="vision__text">
        You're in the right place. Share your thoughts with us, and we'll
        collaborate to make your concept a reality.
      </p>
      <form action="" class="vision__form">
        <label for="name" class="vision__label">
          Name*
          <input
            type="text"
            class="vision__input"
            placeholder="Your name"
            required
          />
        </label>
        <label for="email" class="vision__label">
          Email*
          <input
            type="email"
            class="vision__input"
            placeholder="Your email"
            required
          />
        </label>
        <label for="text" class="vision__label">
          Describe Your Vision
          <input
            type="text"
            class="vision__input"
            placeholder="Tell us about the concept you're imagining. What's the story? What feeling should it evoke? The more details, the better we can understand your unique style."
          />
        </label>
        <button class="vision__button">Start the Conversation</button>
      </form>
    </div>
    <img src="" alt="" class="vision__img" />
  </div>
</section>
